/* carousel.css */

.full-width-carousel {
    
    margin-top: 100px;
    position: relative;
     /* Adjust the margin-top value to move the carousel down */
    
}

.slick-slider {
    margin: 0 65px; /* Adjust the negative margin to remove default padding */
}

.carousel-item {
    display: flex;
    justify-content: center;
}

.carousel-item img {
    width: auto;
    height: auto;
    margin-left: 70px; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    outline: none;
}
